apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'springboot-k8s'
        static_configs:
          - targets: ['springboot-k8s:80']
        metrics_path: '/actuator/prometheus'
        scrape_interval: 10s
