apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    # AlertManager configuration
    alerting:
      alertmanagers:
        - static_configs:
            - targets:
                - alertmanager:9093

    # Load alert rules
    rule_files:
      - '/etc/prometheus/alert-rules.yml'
    
    scrape_configs:
      - job_name: 'springboot-k8s'
        static_configs:
          - targets: ['springboot-k8s:80']
        metrics_path: '/actuator/prometheus'
        scrape_interval: 10s
      
      # Scrape Prometheus metrics
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
